.menu ul ul { /*第二层菜单*/
    display: none;
    position: absolute;
    height: 0;
    top: 48px;
    left: 0;
    width: 128px;
}

.menu ul ul ul { /*第三层菜单*/
    left: 128px;
    top: 0;
    width: 128px;
}

.menu :hover > a,
.menu ul ul :hover > a { /*高亮第二层菜单的条目*/
    background: #8F8F8F;
}

.menu ul :hover ul, /*第二层菜单*/
.menu ul :hover ul :hover ul /*第三层菜单*/
{
    display: block;
}

.menu ul :hover ul ul { /*当鼠标移动到第二层菜单上时隐藏第三层菜单*/
    display: none;
}